.game-board{
    width: 100%;
    height: 800px;
    border-bottom: 30px solid #028d0e;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87CEEB, #E0F6FF);
    

}
#text-start{
    padding-top: 1.5%;
    text-align: center;
    color: #f87000;
}
.reset{
     padding: 6px 4px;
    width:7rem;
    text-align: center;
    color: #000000;
    font-size: 1rem;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 500;
    background-color: #eede00;
    margin-left:47%;
    margin-top:20px ;
}

.pipe{
    position: absolute;
    bottom: 0;
    width: 80px;
    animation: pipe-animation 1.5s infinite linear;
    


}

.mario{
    position: absolute;
    bottom: 0;
    width: 150px;
   
    
}

.jump{
    animation: jump 500ms ease-out ;
}


.clouds {
    position: absolute;
    width: 1000px;
    animation: clouds-animation 10s infinite linear;
    margin-top: 200px;
    
  
    
}
/*.banzil{
    position:absolute;
    width: 150px;
    animation: clouds-animation 10s infinite linear;
    margin-top: 380px;
    transition-delay:60s;
}*/


@keyframes pipe-animation {
    from{
        right: -80px;
    }
    to{ 
        right: 100%;
    }
}

@keyframes jump {
    0%{
        bottom: 0;
    }
    40%{
        bottom: 180px;
    }
    50%{
        bottom: 180px;
    }
    60%{
        bottom: 180px;
    }
    100%{
        bottom: 0;
    }
}

@keyframes clouds-animation {
    from {
        right: -1000px;
    }
    to {
        right: 100%;
    }
}
/*@keyframes clouds-animation {
    from {
        right: -150px;
    }
    to {
        right: 100%;
    }
}
    */ 
     
